:root {
    color-scheme: light dark;
    --text-color: light-dark(#333333, #cccccc);
    --input-background-color: light-dark(#ccccd9, #333340);
}

body {
    background-color: light-dark(#eeeefb, #151522);
    margin: 0px;
    color: var(--text-color);
    font-family: sans-serif;
}

input[type=text], input[type=password] {
    background-color: var(--input-background-color);
    border: 0px;
    border-radius: 20px;
    padding: 12px;
    outline: none;
    color: var(--text-color);
    font-size: 20px;
}

button {
    background-color: var(--input-background-color);
    color: var(--text-color);
    border: 0px;
    border-radius: 10px;
    padding: 10px;
    margin: 5px;
    font-size: 1em;
}

button:hover {
    background-color: light-dark(#ddddea, #444450);
}

.maincontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.flexrow {
    display: flex;
    flex-direction: row;
}

.flexcolumn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5px;
}

.centercanvas {
    display: block;
    position: absolute;
    margin: auto;
    padding: 0px;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}
